/* Your avatar CSS code here */
.avatar-small {
  width: 30px;
  border-radius: 50%;
}

.avatar-medium {
  width: 50px;
  border-radius: 50%;
}

.avatar-large {
  width: 80px;
  border-radius: 50%;
}

.border {
  border: white 1px solid;
}

.avatar-square-small {
    width: 30px;
}

.avatar-square-medium {
    width: 50px;
}

.avatar-square-large {
    width: 80px;
}


.team .avatar-large {
  width: 100px;
  border-radius: 50%;
}
/* Avatar design */
