/* Footer design */
.footer {
  background-color: #696969;
  padding: 30px;
  color: #FFF;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer i {
  color: #FFF;
  padding-right: 25px;
}
