<!-- Your footer code -->
<div class="footer">
  <div class="row">
    <ul class="list-inline">
      <il><a href="#"><i class="fa fa-facebook fa-2x"></i></a></il>
      <il><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></il>
      <il><a href="#"><i class="fa fa-twitter fa-2x"></i></a></il>
      <il><a href="#"><i class="fa fa-instagram fa-2x"></i></a></il>
    </ul>
    <p>This is a Airbnb Home challenge @ LeWagon</p>
  </div>
</div>
